.btnBase {
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

.btnWithBg {
  padding: 15px;
  color: white;
  background-color: var(--light-blue);
}

.btnDelete {
  background-color: var(--red);
  color: var(--white);
}

.btnInline {
  text-decoration:underline;
  font-weight: bold;
}

.small {
  padding: 10px;
}

.no-padding {
  padding: 0;
}