.carousel {
  position: relative;
}

.carouselImg {
  display: none;
  width: clamp(300px, 83vw, 1400px);
  height: 500px;
}

.carouselImgActive {
  display: block;
}

.btnArrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.btnArrow:hover{
  transform: scale(1.1);
}

.btnArrow:first-child {
  left: 2%;
}

.btnArrow:last-child {
  right: 2%
}

.arrowImg {
  width: 48px;
}
