.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 100%;

  gap: 40px;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  color: white;
  width: clamp(300px, 83vw, 1400px);
  background-image: linear-gradient(to right, #4990f9, #558dea, #5d89dc, #6486cd, #6983bf);
  padding: 30px;
}

@media (min-width: 720px) {
  .aboutUs {
    flex-direction: row;
  }

  .aboutUsMain {
    width: 50%;
  }
}

.aboutUsTitle {
  text-transform: uppercase;
  font-size: 2em;
  margin: 0px;
}

.aboutUsSlogan {
  font-size: 1.5em;
  margin: 10px 0px;
}

.aboutUsMain > p {
  line-height: 1.6em;
  font-weight: 300;
}

.aboutUsImgs {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 50%;
}

.aboutUsImg {
  width: clamp(90px, 14vw, 120px);
}