.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 100%;

  gap: 40px;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  color: white;
  width: clamp(300px, 83vw, 1400px);
  background-image: linear-gradient(to bottom, #335289, #3961a4, #3f70bf, #4480dc, #4990f9);
  padding: 20px;
}

@media (min-width: 720px) {
  .aboutUs {
    flex-direction: row;
    background-image: linear-gradient(to right, #335289, #3961a4, #3f70bf, #4480dc, #4990f9);

  }

  .aboutUsMain {
    width: 50%;
  }
}

.aboutUsTitle {
  text-transform: uppercase;
}

.aboutUsImgs {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 50%;
}

.aboutUsImg {
  width: clamp(90px, 14vw, 120px);
}