.cardProduct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-basis: clamp(200px, 44vw, 210px);
}

.productImg {
  width: clamp(100px, 15vw, 170px);
}

/*TODO:Sustituir webkit*/
.productName {
  position: relative;
  display: -webkit-box;
  font-size: 1.1em;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.productPrice {
  font-size: 1.3em;
  color: var(--dark-blue);
  font-weight: bold;
}

.productReviews {
  margin: 0;
}