.sectionProducts {
  width: clamp(300px, 83vw, 1400px);
  box-shadow: 1px 1px 10px #333;
}

.sectionHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--gray-blue);
  padding: 0px 20px;
}

.sectionTitle {
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px;
  gap: clamp(10px, 1.1vw, 20px)
}

.btnSeeMore {
  color: white;
}


@media (min-width: 720px) {
  .products {
    justify-content: start;
  }
}