.mainPage {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.title {
  text-transform: uppercase;
  color: var(--dark-blue);
}

.subtitle {
  position: relative;
  text-transform: uppercase;
  color: var(--light-blue);
}

.subtitle::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  padding: 2px;
  background-color: var(--gray-blue);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0px 50px 0px;

  width: clamp(400px, 90vw, 800px);
}

.formGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 50px;
}

.formGroup > div {
  width: 360px;
}

.btnSubmit {
  align-self: center;
  margin-top: 10px;
}