.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--dark-blue);
  padding: 15px;
}

.headerLogo {
  width: 80px;
  height: 80px;
}

.headerUser {
  display: flex;
  gap: 20px;
}

@media (min-width: 720px) {
  .header {
    justify-content: space-evenly;
  }
}

