.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--dark-blue);
  padding: 15px;
}

.headerUser {
  display: flex;
  gap: 20px;
}

@media (min-width: 720px) {
  .header {
    justify-content: space-evenly;
  }
}

@media (max-width: 720px) {
  .btnProfile{
    display: none;
  }
}

@media (max-width: 720px) {
  .headerUser{
    display: none;
  }
}

@media (min-width: 720px){
  .btnMenuMobile{
    display: none;
  }
}