.searchBar {
  display: flex;
  align-items: center;
}

.inputSearchBar {
  width: clamp(220px, 20vw, 350px);
  height: 45px;

  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  border: 0;
}

.btnSearchBar {
  background-color: var(--light-blue);
  padding: 9px;
  border-radius: 0px 10px 10px 0px;
  border: 0;
  cursor: pointer;
}

.btnSearchBar:hover {
  transition: .5s;
  background-color: var(--gray-blue);
}