:root{
  --dark-blue: #335289;
  --gray-blue: #6983BF;
  --light-blue: #4990F9;
  --white: #fff;
  --red: #FF4F4F;
  --light-green: #8ae485;
  --black: #333;
}

body {
  font-family: "Inter", sans-serif;
}